%ul.nav.nav-tabs
  %li.active=link_to tag_icon(:list, pat(:list)), url(:banner_slots, :index)
  %li=link_to tag_icon(:plus, pat(:new)), url(:banner_slots, :new)

.tabs-content
  %table#list.table.table-striped.table-hover.table-condensed
    %thead
      %tr
        %th.header.list-menu
          .dropdown
            %a.list-menu-toggle.dropdown-toggle{:href => '#', :'data-toggle' => :dropdown}
              =tag_icon :magic
              %span.caret
            %ul.list-menu.dropdown-menu{:role => :menu}
              %li.list-menu-wrapper=link_to tag_icon(:check, pat(:select_all)), '#', :id => 'select-all', :class => 'list-menu-link'
              %li.list-menu-wrapper.list-menu-wrapper-disabled
                =link_to tag_icon(:'check-empty', pat(:deselect_all)), '#', :id => 'deselect-all', :class => 'list-menu-link list-menu-link-disabled'
              %li.list-menu-divider.divider
              %li.list-menu-wrapper.list-menu-wrapper-disabled
                =link_to tag_icon(:trash, pat(:delete_selected)), '#', :id => 'delete-selected', :class => 'list-menu-link list-menu-link-disabled'
                .list-menu-popover-delete-selected.popover.right
                  .arrow
                  %h3.popover-title=pat(:delete_selected_title)
                  .popover-content
                    -form_tag url(:banner_slots, :destroy_many), :method => :delete do
                      =hidden_field_tag :banner_slot_ids, :'data-delete-many-ids' => true
                      =submit_tag pat(:delete), :class =>'list-menu-popover-delete-selected-btn btn btn-danger btn-small'
                      .btn.btn-default.btn-small.cancel=pat(:cancel)
        %th.header= mat(:banner_slot, :created_at)
        %th.header= mat(:banner_slot, :updated_at)
        %th.header= mat(:banner_slot, :slot_name)
        %th.header= mat(:banner_slot, :banner_contents_count)
        %th.header= mat(:banner_slot, :valid_from)
        %th.header= mat(:banner_slot, :valid_till)
        %th.header.list-row-action-header

    %tbody
      -@banner_slots.each do |banner_slot|
        %tr.list-row
          %td.list-column.list-selectable
            =check_box_tag 'banner_slot_ids[]', :value => banner_slot.id, :class => 'list-selectable-checkbox'
          %td.list-column=time_ago_in_words banner_slot.created_at
          %td.list-column=time_ago_in_words banner_slot.updated_at
          %td.list-column=banner_slot.slot_name
          %td.list-column=banner_slot.banner_contents.count
          %td.list-column=banner_slot.valid_from
          %td.list-column=banner_slot.valid_till
          %td.list-column.list-row-action
            .list-row-action-wrapper
              =link_to tag_icon(:edit), :href => url(:banner_slots, :edit, :id => banner_slot.id), :rel => :tooltip, :title => "#{pat(:edit)} banner_slot", :class => 'list-row-action-wrapper-link'
              =link_to tag_icon(:trash), :rel => :tooltip, :title => "#{pat(:delete)} banner_slot", :class => 'list-row-action-delete-one list-row-action-wrapper-link'
              .popover.list-row-action-popover-delete-one.left
                .arrow
                %h3.popover-title=pat(:delete, :model => "banner_slot")
                .popover-content
                  -form_tag url(:banner_slots, :destroy, :id => banner_slot.id), :method => :delete do
                    =submit_tag pat(:delete), :class =>'list-row-action-popover-delete-one-btn btn btn-danger btn-small'
                    .btn.btn-default.btn-small.cancel=pat(:cancel)
